/* Separator: Basic Overall Styles */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body{
    font-family: "Open Sans";
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: rgb(28,236,80);
    background: linear-gradient(90deg, rgba(28,236,80,1) 25%, rgba(28,142,236,1) 50%, rgba(255,214,0,1) 75%);
}

h1{
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: xxx-large;
}

/* Separator: Overall Wheel Styles */
.mainbox{
    position: relative;
    width: 500px;
    height: 500px;
}

.mainbox:after{
    position: absolute;
    content: '';
    width: 64px;
    height: 64px;
    background: url('pictures/leftArrow.png') no-repeat;
    background-size: 64px;
    right: -60px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}

.mainbox.animate:after{
    animation: animateArrow 0.7s ease infinite;
    -webkit-animation: animateArrow 0.7s ease infinite;
}

@keyframes animateArrow{
    50%{right: -40px;}
}

@-webkit-keyframes animateArrow{
    50%{right: -40px;}
}

.wheelHolder{
    position: relative;
    width: 100%;
    height: 100%;
    font-weight: bold;
    border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden;
    transition: all 5s ease;
    display: grid;
}

/* Separator: Slices */
span{
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;

    /* Combined Slice Class with the span */
    -webkit-clip-path: polygon(100% 23.2%,0% 50%,100% 50%);
    clip-path: polygon(100% 23.2%,0% 50%,100% 50%);
    top: 120px;
    right: 0;
}

span b{
    font-size: 20px;
    position: absolute;
    top: 40%;
    right: 1%;
    transform: translate(-50%, -50%);
 
}

.eggSlice {
    background-color: orange;
}

.frySlice {
    background-color: yellow;
}

.smoltSlice {
    background-color: green;
}

.adultSlice {
    background-color: lightblue;
}

.spawnerSlice {
    background-color: red;
}

.spawnerSlice b{
    left: 75%;
}
.sliceHolder1{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
}

.sliceHolder2{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(15deg);
}

.sliceHolder3{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(30deg);
}

.sliceHolder4{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.sliceHolder5{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(60deg);
}

.sliceHolder6{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(75deg);
}

.sliceHolder7{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
}

.sliceHolder8{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(105deg);
}

.sliceHolder9{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(120deg);
}

.sliceHolder10{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(135deg);
}

.sliceHolder11{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(150deg);
}

.sliceHolder12{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(165deg);
}

.sliceHolder13{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}

.sliceHolder14{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(195deg);
}

.sliceHolder15{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(210deg);
}

.sliceHolder16{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(225deg);
}

.sliceHolder17{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(240deg);
}

.sliceHolder18{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(255deg);
}

.sliceHolder19{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(270deg);
}

.sliceHolder20{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(285deg);
}

.sliceHolder21{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(300deg);
}

.sliceHolder22{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(315deg);
}

.sliceHolder23{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(330deg);
}

.sliceHolder24{
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    transform: rotate(345deg);
}

/* Separator: Spin Button */

.spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #001aff;
    color: #fff;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

.spin:active{
    width: 70px;
    height: 70px;
    font-size: 20px;
}

/* Separator: Modal Box */
.modalBackground {
	position: fixed;

	display: none;
	z-index: 1;

	width: 100%;
	height: 100%;
	padding-top: 7rem;
	left: 0;
	top: 0;

	background-color: rgba(0, 0, 0, 0.3);
}

.modalPopup {
	position: relative;

	width: 80%;
	height: 75%;
	padding: 0;
	margin: auto;

	border: .1rem solid black;
    background-color: lightgreen;
	/* background-image: url("pictures/");
  	background-size: cover;
  	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; */

	-webkit-animation-name: flowFromTop;
  	-webkit-animation-duration: 0.3s;
  	animation-name: flowFromTop;
  	animation-duration: 0.3s;

  	display: flex;
  	flex-wrap: nowrap;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	justify-content: stretch;
}

.modalHeader {
	background-color: #0099CC;
	border-bottom: .05rem solid black;

	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 2.2rem;

	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
}

.disableTextSelect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.modalText {
	height: 100%;
	text-align: center;
	color: black;
	font-size: 1.4rem;
	padding: 2rem;
	overflow: auto;
}

.modalText > p{
	background: rgba(255,255,255,0.60);
}

.modalX {
	color: white;
	font-size: 2rem;
}

.modalX:hover {
	cursor: pointer;
	color: gray;
	text-decoration: none;
}

@-webkit-keyframes flowFromTop {
	from {top:-7rem; opacity:0} 
	to {top:0; opacity:1}
}

@keyframes flowFromTop {
	from {top:-7rem; opacity:0} 
	to {top:0; opacity:1}
}
