*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body{
    font-family: "Open Sans";
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: rgb(28,236,80);
    background: linear-gradient(90deg, rgba(28,236,80,1) 25%, rgba(28,142,236,1) 50%, rgba(255,214,0,1) 75%);
}

h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: xxx-large;
}

.mainbox{
    position: relative;
    width: 500px;
    height: 500px;
}

.mainbox:after{
    position: absolute;
    content: '';
    width: 64px;
    height: 64px;
    background: url('pictures/leftArrow.png') no-repeat;
    background-size: 64px;
    right: -60px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}

.box{
    position: relative;
    width: 100%;
    height: 100%;
    font-weight: bold;
    border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden;
    transition: all ease 5s;
}

span{
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}

.span1{
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    top: 120px;
    left: 0;
}
  
.span2{
    clip-path: polygon(100% 92%, 0 50%, 100% 8%);
    background-color: #ff4fa1;
    top: 120px;
    right: 0;
}
  
.span3{
    clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
    bottom: 0;
    left: 120px;
}
  
.span4{
    clip-path: polygon(50% 100%, 92% 0, 8% 0);
    top: 0;
    left: 120px;
}

.box1 .span2, .box2 .span1{
    background-color: #ffaa00;
}

.box1 .span3, .box2 .span4, .box1 .span1{
    background-color: #fffb00;
}

.box2 .span2{
    background-color: #22ff00;
}

.box1 .span4{
    background-color: #7396e0;
}

.box2 .span3{
    background-color: #ff5100;
}

.box1 .span3 b{
    transform: translate(-50%, -50%) rotate(-270deg);
}
 
.box1 .span1 b, .box2 .span1 b{
   transform: translate(-50%, -50%) rotate(185deg);
}

.box2 .span3 b{
   transform: translate(-50%, -50%) rotate(90deg);
 
}
 
.box1 .span4 b, .box2 .span4 b{
   transform: translate(-50%, -50%) rotate(-85deg);
}
 
span b{
   font-size: 24px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 
}
 
.box2{
   width: 100%;
   height: 100%;
   transform: rotate(-135deg);
}

.spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #001aff;
    color: #fff;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

.spin:active{
    width: 70px;
    height: 70px;
    font-size: 20px;
}
  
.mainbox.animate:after{
    animation: animateArrow 0.7s ease infinite;
}

@keyframes animateArrow{
    50%{right: -40px;}
}